<ion-header>
</ion-header>

<ion-content>

  <ion-content class="ion-padding ion-text-center">

    <div class="container">
      <div class="page-header">
        <h1><b>PLGFP</b></h1>
        <h4>Sistema de Gestão Financeira Pessoal</h4>
      </div>
    </div>

    <img src="../../assets/welcome.gif" />

    <div class="button-container">
      <ion-button expand="block" routerLink="/login" routerDirection="forward" class="main-button">Acessar</ion-button>
    </div>

  </ion-content>
  
</ion-content>
